*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: monospace, sans-serif;
}
a{
    text-decoration: none
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for all img in this site */
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* hero section */
#hero {
    background-image: url(./img/img-bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content:flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#hero h1:nth-child(1){
    animation-delay:1.5s;
}
#hero h1:nth-child(2){
    animation-delay:3s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name ease forwards;
    animation-delay: 5s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: lightblue;
    animation: text_reveal_box 1.5s ease;
    animation-delay: 1s;
}

#hero h1:nth-child(1) span {
    animation-delay: 1s;
}
#hero h1:nth-child(2) span {
    animation-delay: 2.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 4s;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: blueviolet;
    background-color: transparent;
    border: 2px solid blueviolet;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
}
.cta:hover{
    color: black;
    background-color: lightblue;
}
/* keyframes */
@keyframes text_reveal_box {
    25% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}
 @keyframes text_reveal_name{
     100% {
         color: lightblue;
         font-weight: 700;
     }
 }

/* services section */

#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 67.5rem;
    margin: 0 auto;
    padding: 100px 0;
}

.service-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}

.service-title span{
    color: blueviolet;
}

#services .service-top p{
    font-size: 1.4rem;
    margin-bottom: 10px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/portfolio-img.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    background-image:linear-gradient(0deg, rgba(39,38,40,1) 0%, rgba(117,78,143,1) 100%);
    opacity: .3;
    z-index: -1;
}
 .icon {
    color: white;
    font-size: 6rem;
 }

 #services .service-item h2{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
 }

 #services .service-item p{
     font-size: 1.5rem;
     color: white;
     line-height: 2.4rem;
     text-align: left;
 }
 /* projects section */

 #projects .projects{
     flex-direction: column;
     max-width: 1200px;
     margin: 0 auto;
     padding: 100px 0;
 }

 #projects .projects-header h1{
    margin-bottom: 50px;
 }

#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 40px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    background-color:gray;
    color:white;
}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

#projects .project-info p{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(0deg, rgba(39,38,40,1) 0%, rgba(117,78,143,1) 100%);
    opacity: .7;
}

#projects .project-img img{
    transition: .5s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1)
}

/* about section */

#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p{
    margin-bottom: 20px;
}

#about .col-right .cta{
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-right .cta:hover{
    color:white;
    background-color: gray;
    border-color: gray; 
}

#about .col-left .about-img img{
    /* border: 10px solid white; */
    box-shadow: -10px 10px 5px white;

}

#about .col-left .about-img{
    position: relative;
}

#about .col-left .about-img::after{
    content: "";
    position: absolute;
    border: 7px solid blueviolet;
    box-shadow: -5px 5px 15px blueviolet;
    height: 98%;
    width: 98%;
    left: -30px;
    top: 20px;
    z-index: -1;
}